{% extends 'base_layout.html' %}

{% block title %}Zresetuj hasło{% endblock %}

{% block content %}

{% if form.errors %}
<p>There's something went wrong with what you entered!</p>
{% endif %}

{% load widget_tweaks %}

<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered">Zresetuj hasło:</h1>
            <div class="columns">
                <div class="column is-one-third is-offset-one-third">
                    <form method="post" action="{% url 'password_reset' %}">

                        {% csrf_token %}

                        <div class="field">
                            <label class="label">Adres e-mail:</label>
                            <div class="control">
                                {{ form.email|add_class:'input' }}
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                            <button type="submit" class="button is-link">Wyślij</button>
                            </div>
                            <div class="control">
                            <button class="button is-text" onClick="javascript:history.go(-1);">Anuluj</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}