{% extends 'base_layout.html' %}

{% block title %}Zresetuj hasło{% endblock %}

{% block content %}

    <section class="section">

        <section class="hero">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">Zmień hasło:</h1>
                    <p class="subtitle">Chcesz zmienić swoje hasło na nowe?</p>
                </div>
            </div>
        </section>
        <hr>
        <div class="columns">
            <form method="POST" style="width: 100%;">
                {% csrf_token %}

                <div class="column is-half is-offset-one-quarter">
                
                    <div class="field">
                        <label for="id_old_password" class="label">Stare hasło:</label>
                        <p class="control has-icons-left">
                            <input id="id_old_password" class="input" type="password" name="old_password">
                            <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>

                </div>
                <hr>
                <div class="column is-half is-offset-one-quarter">
                    <div class="field">
                        <label for="new_password1" class="label">Hasło:</label>
                        <p class="control has-icons-left">
                            <input id="id_new_password1" class="input" type="password" name="new_password1">
                            <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <label for="id_new_password2" class="label">Powtórz hasło:</label>
                        <p class="control has-icons-left">
                            <input id="id_new_password2" class="input" type="password" name="new_password2">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                    {% if form.errors %}
                        <div class="notification is-warning">
                            <p><strong>1.</strong> Twoje hasło nie może być zbyt podobne do twoich innych danych osobistych.</p>
                            <p><strong>2.</strong> Twoje hasło musi zawierać co najmniej 8 znaków.</p>
                            <p><strong>3.</strong> Twoje hasło nie może być powszechnie używanym hasłem.</p>
                            <p><strong>4.</strong> Twoje hasło nie może składać się tylko z cyfr.</p>
                        </div>
                    {% endif %}
                </div>
                <hr>
                    <div class="column is-half is-offset-one-quarter">
                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-link">Zmień hasło</button>
                        </div>
                        <div class="control">
                            <button class="button is-text">Anuluj</button>
                        </div>
                    </div>
                    
                </div>
            </form>
    </div>

    </section>

{% endblock %}
