{% extends 'base_layout.html' %}

{% block title %}Blog{% endblock %}

{% block content %}

<section class="section">
        
        <h1 class="title">Blog</h1>
        <h2 class="subtitle is-5">Każdy ma swoje zdanie, wyraź swoje i ty!</h2>
        <hr>

        <!-- Main container -->
        <nav class="level">

            <!-- Left side -->
            <div class="level-left">
            <div class="level-item">
                <p class="subtitle is-5">
                <strong>{{ counter }}</strong> wpisów
                </p>
            </div>
            <div class="level-item">
                <div class="field has-addons">
                <p class="control">
                    <input class="input" type="text" placeholder="Znajdź wpis">
                </p>
                <p class="control">
                    <button class="button">
                    Szukaj
                    </button>
                </p>
                </div>
            </div>
            </div>
        
            <!-- Right side -->
            <div class="level-right">
                <p class="level-item"><strong>Wszystkie</strong></p>
                <p class="level-item"><a href="?filter=3">Opublikowane</a></p>
                <p class="level-item"><a href="?filter=2">Nieopublikowane</a></p>
                <p class="level-item"><a href="?filter=1">Szkice</a></p>
                <p class="level-item">
                    <a href="{% url 'blog:create' %}" class="button is-success">Dodaj wpis</a>
                </p>
            </div>

        </nav>
        <hr>
        {% if context %}
        <div class="content">

                    {% for el in filter %}

                        <article class="media">
                                <figure class="media-left">
                                <p class="image is-64x64">
                                    <img src="http://localhost:8000{{ el.thumb.url }}">
                                </p>
                                </figure>
                                <div class="media-content">
                                <div class="content">
                                    <p>
                                    <strong><a href="{{el.id}}">{{ el.title }}</a></strong> <small>@{{ el.author }}</small>
                                    <br>
                                    {{ el.snippet|safe }}
                                    <br>
                                    <span class="tag is-rounded" style="background-color: {{ el.cat.color }}; color: #fff;">{{ el.cat }}</span>
                                    </p>
                                </div>
                                </div>
                                <div class="media-right">
                                <button class="delete"></button>
                                </div>
                        </article>

                    {% endfor %}

        </div>

        {% if is_paginated %}
        <hr class="hr">
            <nav class="pagination" role="navigation" aria-label="pagination">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="pagination-previous">Poprzednia</a>
                {% else %}
                    <a class="pagination-previous" disabled>Poprzednia</a>
                {% endif %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="pagination-next">Następna</a>
                {% else %}
                    <a class="pagination-next" disabled>Następna</a>
                {% endif %}
                <ul class="pagination-list">
                    <li>
                        <span class="has-text-weight-bold">Strony:&nbsp;&nbsp;</span>
                    </li>
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?page=1" class="pagination-link">1</a>
                        </li>
                        <li>
                            <span class="pagination-ellipsis">&hellip;</span>
                        </li>
                    {% endif %}
                    <li>
                        <a class="pagination-link is-current">{{ page_obj.number }} </a>
                    </li>
                    {% if page_obj.has_next %}
                        <li>
                            <span class="pagination-ellipsis">&hellip;</span>
                        </li>
                        <li>
                            <a href="?page={{ page_obj.paginator.num_pages }}" class="pagination-link">{{ page_obj.paginator.num_pages }}</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}

        {% else %}
         
        <div class="content">
            <p class="has-text-centered">
                Ups! Zdaje się, że nic tu nie ma.
            </p>
        </div>

        {% endif %}

</section>

{% endblock %}