{% load i18n %}

<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="{% url 'admin:index' %}"><!-- Temporary -->
            <img src="https://bulma.io/images/bulma-logo-white.png" width="112" height="28">
          </a>
      
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            
            <a href="{% url 'index' %}" class="navbar-item">{% trans "menu_home" %}</a>
            <a href="{% url 'blog:index' %}" class="navbar-item">{% trans "menu_blog" %}</a>
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                {% trans "menu_other" %}
              </a>
      
              <div class="navbar-dropdown">
                <a href="{% url 'about' %}" class="navbar-item">
                  {% trans "menu_about" %}
                </a>
                <a href="{% url 'contact:index' %}" class="navbar-item">
                  {% trans "menu_contact" %}
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  {% trans "menu_report" %}
                </a>
              </div>
            </div>
          </div>
      
          <div class="navbar-end">
              {% if user.is_authenticated %}
              
              <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    {{ user.username }}
                  </a>
          
                  <div class="navbar-dropdown is-right">
                    <a href="{% url 'account:dashboard' %}" class="navbar-item">
                      {% trans "ui_dashboard" %}
                    </a>
                    <a href="{% url 'account:edit' %}" class="navbar-item">
                      {% trans "ui_edit_profile" %}
                    </a>
                    <hr class="navbar-divider">
                    <a href="{% url 'logout' %}" class="navbar-item">
                      {% trans "ui_logout" %}
                    </a>
                  </div>
                </div>
              </div>

              {% else %}

              <div class="navbar-item">
                <div class="buttons">
                  <a href="{% url 'account:register' %}" class="button is-primary">
                    <strong>{% trans "ui_register" %}</strong>
                  </a>
                  <a href="{% url 'login' %}" class="button is-light">
                    {% trans "ui_login" %}
                  </a>
                </div>
              </div>

              {% endif %}
          </div>
        </div>
    </div>
</nav>