{% extends 'base_layout.html' %}

{% block title %}Forumlarz kontakowy - wysłano {% endblock %}

{% block content %}

    <section class="hero is-large">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title has-text-centered">Dziękujemy za kontakt</h1>
                <p>Odezwiemy się najszybciej jak to tylko będzie możliwe, tymczasem za chwile zostaniesz przekierowany...</p>
            </div>
        </div>
    </section>
{% endblock %}